<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>672134098898-lnonp74v5b9m6jkf96n54oq0rts83b3t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.672134098898-lnonp74v5b9m6jkf96n54oq0rts83b3t</string>
	<key>API_KEY</key>
	<string>AIzaSyAh5sQPcSs40IHb0nrdulxSmWDG1Njyce4</string>
	<key>GCM_SENDER_ID</key>
	<string>672134098898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.wa7a.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchatappleios13</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchatappleios13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:672134098898:ios:a97c3ccafddcdc9789220b</string>
	<key>DATABASE_URL</key>
	<string>https://flashchatappleios13.firebaseio.com</string>
</dict>
</plist>